<table matSort (matSortChange)="sortData($event)">
    <tbody>
      <ng-container >
        <tr >
          <th *ngFor="let j of columnConfigurations" mat-sort-header="{{j.columnDef}}">{{j.title}}</th>
      </tr>
      </ng-container>
      @for (ELEMENT_DATA of sortedData; track ELEMENT_DATA;let  i = $index) {
        <ng-container >
          <tr >         
            <td *ngFor="let k of columnConfigurations;let x= index; "> {{ELEMENT_DATA[k.columnDef]}}</td>
          </tr>
        </ng-container>
       
      }
     <!-- <tr  *ngFor="let i of ELEMENT_DATA;let x= index;"> 
      <ng-container *ngFor="let k of columnConfigurations ">
        <td>
          
          <div *ngIf ="k.displayStyle!='boolean' && k.displayStyle!='booleanIcon' && k.hide!==true">
            {{k.cell[x]}}
          </div>
          <mat-icon *ngIf ="k.displayStyle=='boolean' && k.hide!==true">{{k.cell[x]? "check_circle_black" : "dangerous_black"}}</mat-icon>


        </td>

        
      </ng-container>
       
     </tr> -->

  
  
   
    </tbody>
  </table> 