<table matSort (matSortChange)="sortData($event)"  matSortDirection="asc" matSortDisableClear>
    <tbody>
      <ng-container >
        <tr >
          <th *ngFor="let j of columnConfigurations" mat-sort-header="{{j.columnDef}}">{{j.title}}</th>
      </tr>
      </ng-container>
      @for (ELEMENT_DATA of sortedData; track ELEMENT_DATA;let  i = $index) {
        <ng-container >
          <tr >         
            <td *ngFor="let k of columnConfigurations;let x= index; "> 
              <div *ngIf ="k.displayStyle!='boolean' && k.displayStyle!='booleanIcon' && k.hide!==true">
                {{ELEMENT_DATA[k.columnDef]}}
              </div>
              <mat-icon *ngIf ="k.displayStyle=='boolean' && k.hide!==true">{{ELEMENT_DATA[k.columnDef]? "check_circle_black" : "dangerous_black"}}</mat-icon>

            </td>
          </tr>
        </ng-container>
       
      }


  
  
   
    </tbody>
  </table> 