table {
    border-collapse: collapse;
    width: 500px;
    margin:0 auto;
    tr {
        border-bottom: 1px solid #ddd;
        padding: 20px;
        th, td{
            text-align: center;
            padding: 20px 0;
        }
      }
  }
  
 