<div class="table-component">
  
    <table>
        <thead>
          <tr>
            <td>
              <mat-form-field >
                <mat-label>Filter</mat-label>
                <mat-select (selectionChange)="inputChange($event.value)" [(value)]="selected" placeholder="filter by" [formControl]="this.filter" multiple aria-checked="tr">
                  
                  <mat-option *ngFor="let column of this.getColumnsToDisplayForSelect()" [value]="column.columnDef" >{{ column.title }}</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="filter" >
                <mat-label>Search name</mat-label>
                <input matInput [formControl]="nameFilter" (input)="searchByname()">
              </mat-form-field>
              <p>{{this.nameFilter.value}}</p>
            </td>
          </tr>
          <tr>
            
          </tr>
            <tr>
                <td *ngFor="let column of this.getColumnsToDisplay()" >
                  
                  <span>{{ column.title }}</span>
                  <div *ngIf="column.sortable">
                    <i class="material-icons dp48" [ngClass]="this.isCurrentSortOrder(column.columnDef, 'DESC')?'selected':''" (click)="sortData($event, column.columnDef, 'DESC')">arrow_upward</i>
                    <i class="material-icons dp48" [ngClass]="this.isCurrentSortOrder(column.columnDef, 'ASC')?'selected':''" (click)="sortData($event, column.columnDef, 'ASC')">arrow_downward</i>
                  </div>
                  </td>
            </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let row of this.getrowtoDisplay()">
                  <td  *ngFor="let column of this.getColumnsToDisplay()">
                    <div >
                      {{ row[column.columnDef] }} 
                    </div>
                    
                  </td>
                </tr>
              </tbody>
       
    </table>
</div>