<table>
  <tbody>
  <tr >
    <th *ngFor="let j of tableHead">{{j}}</th>
  </tr>
  
    <tr *ngFor="let item of tableValues ">
      <td  *ngFor="let i of item | keyvalue: keepOrder">
        
        <p *ngIf ="i.value!==true && i.value!==false" >{{i.value}}</p>
        <mat-checkbox *ngIf ="i.value===true" class="example-margin" checked disabled>Yes!</mat-checkbox>
        <mat-checkbox *ngIf ="i.value===false" class="example-margin" disabled>No</mat-checkbox>

      </td>
      
 
    </tr>
  </tbody>
 
 
</table>


